// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$body-font: fontName, sans-serif;
$text-color: #111;
$container-width: 1180px;